<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>assignment-15</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.3.0/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.3.0/css/all.css.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="responsive.css">
</head>
<body>
    <div class="nav clear">
        <div class="logo">
            <a href="#">
                LFWF Academy
            </a>
        </div>
        <div class="menu text-right">
            <ul>
                <li><a href=""> home</a></li>
                <li> <a href="">about</a></li>
                <li><a href=""> services</a></li>
                <li><a href="">product</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">contact</a></li>
            </ul>
        </div>
    </div>
    <div class="banner">
        <h1>WELCOME TO LFWF</h1>
        <P>We are a full-services intergrated creative Academy</P>
        <button>LEARN MORE</button>
    </div>
    <div class="service clear">
            <h1>Our Services</h1>
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, commodi autem dolore      consequuntur accusantium esse.</p>
        <div class="services-box">
            <i class="fa-solid fa-tv"></i>
            <h3> Web Design</h3>
            <p>Lorem ipsum dolor sit amet <br>consectetur adipisicing elit. Optio,<br> debitis.</p>
        </div>
        <div class="services-box">
            <i class="fa-solid fa-rocket"></i>
            <h3> Grapic Design</h3>
            <p>Lorem ipsum dolor sit amet <br>consectetur adipisicing elit. Optio,<br> debitis.</p>
        </div>
        <div class="services-box">
            <i class="fa-solid fa-tv"></i>
            <h3> App Development</h3>
            <p>Lorem ipsum dolor sit amet <br>consectetur adipisicing elit. Optio,<br> debitis.</p>
        </div>
        <div class="services-box">
            <i class="fa-regular fa-lightbulb"></i>
            <h3>Digital Markating</h3>
            <p>Lorem ipsum dolor sit amet <br>consectetur adipisicing elit. Optio,<br> debitis.</p>
        </div>
    </div>

    <div class="about clear">
       <div class="about-heading">
        <h1>About Us</h1>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, commodi autem dolore      consequuntur accusantium esse.</p>
       </div>
        <div class="about-container">
            <div class="about-box-1">
                <img src="IMG/about.jpg" alt="" style="width: 100%; margin-bottom: 10px;">
            </div>
            <div class="about-box-2">
               <h3>Who We Are</h3>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro accusantium eveniet ducimus nemo voluptas molestiae at pariatur, quia hic. Sit nobis natus cupiditate corrupti quidem ea ipsum? Assumenda eaque, illum molestias ipsam voluptas iste distinctio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Est laborum odit iusto eveniet explicabo veritatis, asperiores saepe similique consectetur aperiam. Architecto eveniet fugit quasi eum ratione voluptate tenetur error accusantium.</p>
               <h3> What We Do</h3>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro accusantium eveniet ducimus nemo voluptas molestiae at pariatur, quia hic. Sit nobis natus cupiditate corrupti quidem ea ipsum? Assumenda eaque, illum molestias ipsam voluptas iste distinctio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Est laborum odit iusto eveniet explicabo veritatis, asperiores saepe similique consectetur aperiam. Architecto eveniet fugit quasi eum ratione voluptate tenetur error accusantium.</p>
               <h3>Why Choose Us</h3>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro accusantium eveniet ducimus nemo voluptas molestiae at pariatur, quia hic. Sit nobis natus cupiditate corrupti quidem ea ipsum? Assumenda eaque, illum molestias ipsam voluptas iste distinctio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Est laborum odit iusto eveniet explicabo veritatis, asperiores saepe similique consectetur aperiam. Architecto eveniet fugit quasi eum ratione voluptate tenetur error accusantium.</p>
            </div>
        </div>
    </div>
    <div class="contact clear">
        <div class="contact-heading">
            <h1>Contact Us</h1>
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, commodi autem dolore      consequuntur accusantium esse.</p>
        </div>
        <div class="contact-box">
            <i class="fa-solid fa-location-pin"></i>
            <p>Section:00, Uttara</p>
            <p>Dhaka-0000, Bangladesh</p>
        </div>
        <div class="contact-box">
            <i class="fa-solid fa-envelope"></i>
            <p>info@company.com</p>
        </div>
        <div class="contact-box">
            <i class="fa-solid fa-phone"></i>
            <p>+880 0170000000</p>
            <p>+880 018000000</p>
        </div>
    </div>
    <div class="social-icon">
        <ul>
            <li><span class="fa-brands fa-facebook"></span></li>
            <li><span class="fa-brands fa-twitter"></span></li>
            <li><span class="fa-brands fa-dribbble"></span></li>
            <li><span class="fa-brands fa-github"></span></li>
            <li><span class="fa-brands fa-instagram"></span></li>
            <li><span class="fa-brands fa-instagram"></span></li>
        </ul>
    </div>
    <div class="footer">
        Copyright &copy; LFWF. Designed by LFWF Academy
    </div>
</body>
</html>